name: Deploy Backend Dev

on:
  push:
    branches: [ "develop" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Render (Dev)
        run: curl -X POST "${{ secrets.RENDER_DEPLOY_HOOK_DEV }}"
