name: Frontend CI

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        working-directory: ./src
        run: npm install

      - name: Lint
        working-directory: ./src
        run: npm run lint

      - name: TypeScript check
        working-directory: ./src
        run: npm run type-check

      - name: Build
        working-directory: ./src
        run: npm run build
